# Library's Importation

In [46]:
import pandas as pd
import plotly.express as px
import seaborn as sns
import matplotlib.pyplot as plt
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import accuracy_score, classification_report
from sklearn import metrics
from sklearn.metrics import accuracy_score
from sklearn.model_selection import train_test_split

# Data Reading

In [47]:
df=pd.read_csv(r"C:\xampp\htdocs\lina\project\ds\Sleep_health_and_lifestyle_dataset.csv", encoding="ISO-8859-1", sep=',')
print(df.head(10))

   Person ID Gender  Age            Occupation  Sleep Duration  \
0          1   Male   27     Software Engineer             6.1
1          2   Male   28                Doctor             6.2
2          3   Male   28                Doctor             6.2
3          4   Male   28  Sales Representative             5.9
4          5   Male   28  Sales Representative             5.9
5          6   Male   28     Software Engineer             5.9
6          7   Male   29               Teacher             6.3
7          8   Male   29                Doctor             7.8
8          9   Male   29                Doctor             7.8
9         10   Male   29                Doctor             7.8

   Quality of Sleep  Physical Activity Level  Stress Level BMI Category  \
0                 6                       42             6   Overweight
1                 6                       60             8       Normal
2                 6                       60             8       Normal
3                 4                       30             8        Obese
4                 4                       30             8        Obese
5                 4                       30             8        Obese
6                 6                       40             7        Obese
7                 7                       75             6       Normal
8                 7                       75             6       Normal
9                 7                       75             6       Normal

  Blood Pressure  Heart Rate  Daily Steps Sleep Disorder
0         126/83          77         4200            NaN
1         125/80          75        10000            NaN
2         125/80          75        10000            NaN
3         140/90          85         3000    Sleep Apnea
4         140/90          85         3000    Sleep Apnea
5         140/90          85         3000       Insomnia
6         140/90          82         3500       Insomnia
7         120/80          70         8000            NaN
8         120/80          70         8000            NaN
9         120/80          70         8000            NaN

# Data Preprocessing

In [48]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 374 entries, 0 to 373
Data columns (total 13 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   Person ID                374 non-null    int64
 1   Gender                   374 non-null    object
 2   Age                      374 non-null    int64
 3   Occupation               374 non-null    object
 4   Sleep Duration           374 non-null    float64
 5   Quality of Sleep         374 non-null    int64
 6   Physical Activity Level  374 non-null    int64
 7   Stress Level             374 non-null    int64
 8   BMI Category             374 non-null    object
 9   Blood Pressure           374 non-null    object
 10  Heart Rate               374 non-null    int64
 11  Daily Steps              374 non-null    int64
 12  Sleep Disorder           155 non-null    object
dtypes: float64(1), int64(7), object(5)
memory usage: 38.1+ KB

In [49]:
df.describe()

,Person ID,Age,Sleep Duration,Quality of Sleep,Physical Activity Level,Stress Level,Heart Rate,Daily Steps
count,374.000000,374.000000,374.000000,374.000000,374.000000,374.000000,374.000000,374.000000
mean,187.500000,42.184492,7.132086,7.312834,59.171123,5.385027,70.165775,6816.844920
std,108.108742,8.673133,0.795657,1.196956,20.830804,1.774526,4.135676,1617.915679
min,1.000000,27.000000,5.800000,4.000000,30.000000,3.000000,65.000000,3000.000000
25%,94.250000,35.250000,6.400000,6.000000,45.000000,4.000000,68.000000,5600.000000
50%,187.500000,43.000000,7.200000,7.000000,60.000000,5.000000,70.000000,7000.000000
75%,280.750000,50.000000,7.800000,8.000000,75.000000,7.000000,72.000000,8000.000000
max,374.000000,59.000000,8.500000,9.000000,90.000000,8.000000,86.000000,10000.000000

In [50]:
df.isnull().sum()

Person ID                    0
Gender                       0
Age                          0
Occupation                   0
Sleep Duration               0
Quality of Sleep             0
Physical Activity Level      0
Stress Level                 0
BMI Category                 0
Blood Pressure               0
Heart Rate                   0
Daily Steps                  0
Sleep Disorder             219
dtype: int64

In [51]:
df['Sleep Disorder'].fillna('No disorder detected',inplace=True)
df.head()

,Person ID,Gender,Age,Occupation,Sleep Duration,Quality of Sleep,Physical Activity Level,Stress Level,BMI Category,Blood Pressure,Heart Rate,Daily Steps,Sleep Disorder
0,1,Male,27,Software Engineer,6.1,6,42,6,Overweight,126/83,77,4200,No disorder detected
1,2,Male,28,Doctor,6.2,6,60,8,Normal,125/80,75,10000,No disorder detected
2,3,Male,28,Doctor,6.2,6,60,8,Normal,125/80,75,10000,No disorder detected
3,4,Male,28,Sales Representative,5.9,4,30,8,Obese,140/90,85,3000,Sleep Apnea
4,5,Male,28,Sales Representative,5.9,4,30,8,Obese,140/90,85,3000,Sleep Apnea

In [52]:
df.isnull().sum().sum()

0

In [53]:
print (df['BMI Category'].value_counts())

BMI Category
Normal           195
Overweight       148
Normal Weight     21
Obese             10
Name: count, dtype: int64

In [54]:
df['BMI Category'] = df['BMI Category'].replace('Normal', 'Normal Weight')
print (df['BMI Category'].value_counts())

BMI Category
Normal Weight    216
Overweight       148
Obese             10
Name: count, dtype: int64

In [55]:
df[['Systolic', 'Diastolic']] = df['Blood Pressure'].str.split('/', expand=True)
df.drop(columns=['Blood Pressure'], inplace=True)

In [56]:
def bp_category (s,d):
    s=int(s)
    d=int(d)
    if (s<120) and (d<80):
        return 'Normal'
    if (s<129) and (d<80):
        return 'Elevated'
    if (s<130) or (d<89):
        return 'Hypertension Stage 1'
    if (s>=140) or (d>=90):
        return 'Hypertension Stage 2'
    return 'Need a Doctor'

df['Blood Pressure Category'] = df.apply(lambda row: bp_category(row['Systolic'], row['Diastolic']), axis=1)

In [57]:
df.drop(['Person ID'], axis=1, inplace=True)

In [58]:
df.head(10)

,Gender,Age,Occupation,Sleep Duration,Quality of Sleep,Physical Activity Level,Stress Level,BMI Category,Heart Rate,Daily Steps,Sleep Disorder,Systolic,Diastolic,Blood Pressure Category
0,Male,27,Software Engineer,6.1,6,42,6,Overweight,77,4200,No disorder detected,126,83,Hypertension Stage 1
1,Male,28,Doctor,6.2,6,60,8,Normal Weight,75,10000,No disorder detected,125,80,Hypertension Stage 1
2,Male,28,Doctor,6.2,6,60,8,Normal Weight,75,10000,No disorder detected,125,80,Hypertension Stage 1
3,Male,28,Sales Representative,5.9,4,30,8,Obese,85,3000,Sleep Apnea,140,90,Hypertension Stage 2
4,Male,28,Sales Representative,5.9,4,30,8,Obese,85,3000,Sleep Apnea,140,90,Hypertension Stage 2
5,Male,28,Software Engineer,5.9,4,30,8,Obese,85,3000,Insomnia,140,90,Hypertension Stage 2
6,Male,29,Teacher,6.3,6,40,7,Obese,82,3500,Insomnia,140,90,Hypertension Stage 2
7,Male,29,Doctor,7.8,7,75,6,Normal Weight,70,8000,No disorder detected,120,80,Hypertension Stage 1
8,Male,29,Doctor,7.8,7,75,6,Normal Weight,70,8000,No disorder detected,120,80,Hypertension Stage 1
9,Male,29,Doctor,7.8,7,75,6,Normal Weight,70,8000,No disorder detected,120,80,Hypertension Stage 1

In [60]:
df1=df.copy()

def replace_gender(a):
    a['Gender']=a['Gender'].replace({'Female': 0, 'Male': 1})
    return a

def replace_bmi_category_values(a):
    
   a['BMI Category']=a['BMI Category'].replace({
       'Normal Weight': 0,
       'Obese' : 1,
       'Overweight': 2,
   })
   return a

def replace_SleepDisorder_category_values(a):
   a['Sleep Disorder']=a['Sleep Disorder'].replace({
       'No disorder detected': 0,
       'Sleep Apnea': 1,
       'Insomnia': 2,
   })
   return a

df1=replace_gender(df1)
df1= replace_bmi_category_values(df1)
df1= replace_SleepDisorder_category_values(df1)
df1 = df1.drop(['Occupation'], axis=1)
df1=df1.drop(['Blood Pressure Category'], axis=1)


df1.head()

,Gender,Age,Sleep Duration,Quality of Sleep,Physical Activity Level,Stress Level,BMI Category,Heart Rate,Daily Steps,Sleep Disorder,Systolic,Diastolic
0,1,27,6.1,6,42,6,2,77,4200,0,126,83
1,1,28,6.2,6,60,8,0,75,10000,0,125,80
2,1,28,6.2,6,60,8,0,75,10000,0,125,80
3,1,28,5.9,4,30,8,1,85,3000,1,140,90
4,1,28,5.9,4,30,8,1,85,3000,1,140,90

In [61]:
df.head()

,Gender,Age,Occupation,Sleep Duration,Quality of Sleep,Physical Activity Level,Stress Level,BMI Category,Heart Rate,Daily Steps,Sleep Disorder,Systolic,Diastolic,Blood Pressure Category
0,Male,27,Software Engineer,6.1,6,42,6,Overweight,77,4200,No disorder detected,126,83,Hypertension Stage 1
1,Male,28,Doctor,6.2,6,60,8,Normal Weight,75,10000,No disorder detected,125,80,Hypertension Stage 1
2,Male,28,Doctor,6.2,6,60,8,Normal Weight,75,10000,No disorder detected,125,80,Hypertension Stage 1
3,Male,28,Sales Representative,5.9,4,30,8,Obese,85,3000,Sleep Apnea,140,90,Hypertension Stage 2
4,Male,28,Sales Representative,5.9,4,30,8,Obese,85,3000,Sleep Apnea,140,90,Hypertension Stage 2

# Data Visiualisation